#cabecalho {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--cinza);
  color: var(--claro);
  padding: 0 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  box-shadow: 0px 0px 10px #00000083;
}

#menu-button {
  width: 3.4rem;
  background: none;
  border: none;
  transition: 300ms;
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

#logo img {
  height: 3.4rem;
}

#logo h1 {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--meio-branco);
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

#navbar {
  display: none;
}

@media (min-width: 800px) {
  #cabecalho {
    padding: 0 1rem;
  }

  #menu-button {
    display: none;
  }

  #navbar {
    display: block;
    position: relative;
    left: 10rem;
    text-align: right;
    width: calc(100% - 23rem);
    font-size: 1.4rem;
    font-weight: bolder;
  }

  #navbar button {
    background: none;
    color: var(--claro);
    border: inherit;
    background: var(--clareador);
    border-radius: 0.5rem;
    font-family: 'Ubuntu Mono', monospace;
    font-size: inherit;
    margin: 0 0.5rem;
    line-height: 3rem;
    padding: 0 1rem;
    cursor: pointer;
  }

  #navbar button:hover {
    opacity: 0.8;
  }
}