html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 22rem;
  max-width: 70%;
  text-align: center;
}

img#logo {
  width: 90%;
  margin-bottom: 1rem;
  max-width: 33rem;
}
img#logo:hover {
  opacity: 0.8;
}

button {
  border: none;
  border-radius: 0.5rem;
  line-height: 5rem;
  color: #c2caf0;
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}

button:hover {
  color: #cbd4ff;
}

button#add-bot {
  background: #f85565e8;
}

button#comandos-link {
  background: repeating-linear-gradient(45deg , #606681, #606681 50%, #6b718e 1px, #6b718e 100%);
}

button#support-server {
  background: repeating-linear-gradient(135deg , #606681, #606681 50%, #6b718e 1px, #6b718e 100%);
}

button#add-bot:hover {
  background: #f85565da;
}

button#support-server:hover {
  background: repeating-linear-gradient(-45deg , #606681, #606681 50%, #6b718e 1px, #6b718e 100%);
}

button#comandos-link:hover {
  background: repeating-linear-gradient(-135deg , #606681, #606681 50%, #6b718e 1px, #6b718e 100%);
}

@media (min-width: 800px) {
  button#add-bot {
    width: 100%;
  }

  button {
    line-height: 7rem;
    font-size: 2rem;
    width: calc(50% - 0.2rem);
    
  }
}